
body {
  background: rgb(60, 63, 63);
  color: white;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 3%;
  padding-left: 3%;
}
.banner {
  text-align: center;
}
#banner-wallpaper {
  width: 109%;
  margin-left: -5.9%;
}


.card {
  text-align: center;
  padding-top: 5%;
}

.card-image {
  text-align: center;
  width: 70%;
  border: gray 10px solid;
}
h2,p {
  text-align: center;  
}

h4{
    font-weight: lighter;
}
#content-section-2 {

  background-color: rgb(136, 136, 136);
  padding: 5%;
  height: 80%;
  text-align: center;
  width: 98%;
  margin-left: -4.7%;
}
section {
    text-align: center;
}
.img-content {
  width: 98%;
  height: 18em;
  border: 10px solid rgb(60, 63, 63);
  border-radius: 50%;
  background-image: url(assets/img-1.jpeg);
  background-position: 28% 66%;
  background-size: 200%;
  background-repeat: no-repeat;
}

article{
    width: 100%;
    text-align: center;
}

footer {
    text-align: center;
    text-transform: uppercase;

}

h1{
    text-transform: uppercase;
}
